# Firebase Configuration
VITE_FIREBASE_API_KEY=AIzaSyC7n4JIRpru_u-vcIfS1tf-cRN8RrZeHsE
VITE_FIREBASE_AUTH_DOMAIN=sih-game.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=sih-game
VITE_FIREBASE_STORAGE_BUCKET=sih-game.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=260885303453
VITE_FIREBASE_APP_ID=1:260885303453:web:f29db6df0f861dabfec474
VITE_FIREBASE_MEASUREMENT_ID=G-X3BTWY5W0T
